<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>923918854650-nkq462lj27lg3rnc518bg353eqibq9gs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.923918854650-nkq462lj27lg3rnc518bg353eqibq9gs</string>
	<key>API_KEY</key>
	<string>AIzaSyBen7YClWmp_yTp71OgR70NofKFGopwGkw</string>
	<key>GCM_SENDER_ID</key>
	<string>923918854650</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.fummicc1.Pog.ios.debug</string>
	<key>PROJECT_ID</key>
	<string>pogapp-4ab9f</string>
	<key>STORAGE_BUCKET</key>
	<string>pogapp-4ab9f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:923918854650:ios:7b0c959b6380ae1eb41c43</string>
</dict>
</plist>